<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
<header th:insert="fragments :: nav"></header>

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
			<h3 class=" tl-center" th:text="${titulo}"></h3>
        </div>
        <div class="card-body tl-destacados"  >
            <form th:action="@{/admin/tarifa/form}" th:object="${tarifa}" method="post" sec:authorize="isAuthenticated()">
               <div class="form-row">
	                 <div class="form-group col-md-12 mb-4">
	                    <label for="nombre">Nombre tarifa</label>
	                    <input type="text"  th:field="*{nombre}" class="form-control" id="nombre" name="nombre"  autocomplete="off">
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
	                </div>
	                
	                <div class="form-group col-md-12 mb-4">
	                    <label for="valorTarifa">Valor tarifa</label>
	                    <input type="number" th:field="*{valorTarifa}" class="form-control" id="valorTarifa" name="valorTarifa">
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('valorTarifa')}" th:errors="*{valorTarifa}"></small>
	                </div>

	                <div class="form-group col-md-12 mb-4" >
	                    <button type="submit" class="btn btn-outline-success btn-block">
	                        <i class="fas fa-user-plus"></i> Crear Tarifa</button>
	                </div>
	                
                </div>              
                <input type="hidden" th:field="*{id}">
            </form>

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <p th:text="${error}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>